In [1]:
import pandas as pd
import pandas as np

In [12]:
dadosSinapi = pd.read_excel('datasets/sinapi_dados.xls')

In [13]:
dadosSinapi

,PRECOS DE INSUMOS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,MES DE COLETA: 02/2022,NaN,NaN,NaN,NaN
2,LOCALIDADE: 3420 - CURITIBA,NaN,NaN,NaN,NaN
3,"ENCARGOS SOCIAIS (%) HORISTA 85,67 MENSALIST...",NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
5275,41096,VIGIA DIURNO (MENSALISTA),MES,CR,"2.141,80"
5276,41776,"VIGIA NOTURNO, HORA EFETIVAMENTE TRABALHADA DE...",H,CR,"16,67"
5277,11157,WASH PRIMER PARA TINTA AUTOMOTIVA,GL,CR,"137,26"
5278,NaN,NaN,NaN,NaN,NaN
5279,TOTAL DE INSUMOS : 5272,NaN,NaN,NaN,NaN